/********************************** TAG SELECTORS ************************************/

body {
    background-color: #f1f6f9;;
}
hr {
    background-color: white;
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px;
    width: 5%;
}

h1 {
    color: #14274e;
}

h3 {
    color: #14274e;
}

/********************************** CLASS SELECTORS ************************************/

.image_profile {
    background-color: white;
}

.circular {
    border-radius: 100%;
}

/********************************** ID SELECTORS ************************************/

#heading {
    color: red;
}